<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Gift List</title>
	
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<link rel="stylesheet" href="css/bootstrap.css"> <!-- Bootstrap-Core-CSS -->
  	<script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
	<div id="app">
		<nav class="navbar navbar-light bg-light">
	  			<a class="navbar-brand">Wedding Gift List</a>
	  		<form class="form-inline">
	  			<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" v-model='search'>
	    	</form>
		</nav>

<!-- content -->
		<div class="jumbotron jumbotron-fluid">
			<div class="container">
			
			<ul v-for="item in searchData ">
			    <li><h6>Name: {{item.name}}</h6></li>
			</ul>

			</div>
		</div>
	</div>
<!-- Footer -->
<footer class="page-footer font-small blue pt-4">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://hsuanci.github.io/"> hsuanci.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
</body>
</html>
<script>
  var vm = new Vue({
      el: '#app',
      data: {
    search: '',
    products: [{
	   name: 25,
	 }, {
	   name: 15,
	   }, {
	   name: 65,
	}, {
	   name: 2500,
	}, {
	   name: 10025,
	}, {
	   name: 15,
	 }, {
	   name: 25,
	}]
	},
computed: {
searchData: function() {
var search = this.search;

if (search) {
return this.products.filter(function(product) {
return Object.keys(product).some(function(key) {
return String(product[key]).toLowerCase().indexOf(search) > -1
})
})
}

return this.products;
}
}
})
</script>

